body {
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-size: 16px;
	line-height: 1.2;
	font-weight: normal;
	color: #102746;
}

html {
	box-sizing: border-box;
}

*,::before, *::after {
	box-sizing: inherit;
}

a {
	text-decoration: none;
	outline: none;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	max-width: 1060px;
	margin: 0 auto;
	margin-bottom: 120px;
}

.container__full {
	max-width: 1262px;
	margin: 0 auto;
}

.section__tittle {
	font-weight: 500;
	font-size: 35px;
	line-height: 42px;
	position: relative;
	padding-bottom: 10px;
}

.section__tittle::after {
	content: "";
	display: block;
	width: 253px;
	height: 3px;
	background-color: #006DFE;
	position: absolute;
	bottom: 0;
	left: 0;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.header__wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: space-between;
	padding-top: 56px;
}

.header__list {
	display: flex;
	flex-wrap: wrap;
}

.header__item {
	margin-right: 82px;
}

.header__item:last-child {
	margin-right: 0;
}

.header__link {
	font-size: 18px;
	line-height: 24px;
	color: #fff;
}

.header__link:hover, .header__link:focus, .header__link:active {
	color: yellow;
	transition: 0.5s;
	outline: none;
}

.intro {
	min-height: 100vh;
	background: url(../images/img-bg.jpg) no-repeat center;
	background-size: cover;
	padding-top: 263px;
	padding-bottom: 223px;
}

.intro__tittle {
	font-weight: 500;
	font-size: 50px;
	line-height: 60px;
	color: #fff;
	max-width: 619px;
	margin-bottom: 22px;
}

.intro__subtittle {
	color: #fff;
	font-size: 16px;
	line-height: 24px;
	max-width: 546px;
	margin-bottom: 59px;
}

.search__form-info {
	display: flex;
	flex-wrap: wrap;
}

.search__form-filed {
	background: transparent url(../images/elips.svg) no-repeat left 5px;
	background-size: 20px;
	border: 0;
	border-bottom: 2px solid #BFC0C5;
	margin-right: 60px;
	width: 297px;
	padding-left: 43px;
	padding-bottom: 22px;
	font-weight: 500;
	font-size: 18px;
	color: #fff;
}

.search__form-filed::placeholder {
	font-weight: 500;
	font-size: 18px;
	color: #fff;
}

.search__form-submit {
	padding: 15px 39px;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 24px;
	color: #fff;
	background-color: #1B7DFF;
	border: 0;
}

.search__form-submit:hover {
	transition: 0.5s;
	box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 1);
	background-color: #0954b7;
}

.benefits {
	margin-bottom: 131px;
}

.benefits__wrap {
	max-width: 1262px;
	background-color: #fff;
	margin: 0 auto;
	box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
	position: relative;
}

.benefits__cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr); 
	grid-column-gap: 55px;
	padding: 0 100px;
}


.benefits__card {
	grid-column: span 1;
	margin-bottom: 65px;
}

.benefits__tittle {
	font-weight: 500;
	font-size: 35px;
	line-height: 42px;
	padding: 93px 100px 88px 100px;
	position: absolute;
	top: 0;
	left: 0;
	transform: translateY(-100%);
	background-color: #fff;
	width: 100%;
}

.benefits__card-pic {
	margin-bottom: 37px;
	max-width: 66px;
}

.benefits__card-thumb {
	display: block;
}

.benefits__card-tittle {
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 26px;
}

.benefits__card-desc {
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 39px;
}

.benefits__card-more {
	display: inline-block;
	padding-right: 59px;
	font-size: 16px;
	line-height: 24px;
	color: #006DFE;
	background: url(../images/arrow.svg) no-repeat 95% center;
	transition: 0.5s;
}

.benefits__card-more:hover, .benefits__card-more:focus {
	background: url(../images/arrow.svg) no-repeat right center;
}

.places {
	margin-bottom: 131px;
}

.places__tittle {
	margin-right: 15px;
	margin-bottom: 40px;
}

.places__caption {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.places__view-all, .tour__more {
	font-size: 16px;
	color: #006DFE;
	padding-right: 59px;
	background: url(../images/arrow.svg) no-repeat right center;
}

.places__view-all:hover {
	opacity: 0.65;
	transition: 0.5s;
}

.places__cards {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 10px;
}

.places__card {
	position: relative;
	overflow: hidden;
	box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
}

.places__card:hover .places__card-pic {
	transform: scale(1.05);
	transition: 0.5s;
}

.places__card::after {
	display: block;
	content: '';
	width: 100%;
	height: 100%;
	background-color: rgba(21, 24, 36, 0.4);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

.places__card-tittle {
	font-size: 50px;
	line-height: 60px;
	color: #fff;
	position: absolute;
	bottom: 27px;
	left: 29px;
	z-index: 3;
}

.places__card-size-lg {
	grid-column: span 3;
}

.places__card-size-sm {
	grid-column: span 2;
}

.places__card-pic {
	width: 100%;
}

.places__card-pic-size-lg {
	height: 354px;
	object-fit: cover;
}

.places__card-pic-size-sm {
	height: 283px;
	object-fit: cover;
}

.places__card-link {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 4;
}

.tours {
	margin-bottom: 139px;
}

.tours__tour {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 0 108px;
	align-items: center;
	margin-bottom: 77px;
}

.tour__tittle {
	font-weight: 500;
	font-size: 30px;
	line-height: 40px;
	margin-bottom: 85px;
}

.tittle-2 {
	width: 357px;
}

.tour__desc {
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 58px;
	width: 519px;
}

.tour__more:hover {
	opacity: .65;
	transition: 0.5s;
}

.tour__info {
	padding-left: 47px;
}

.top {
	margin-bottom: 86px;
}

.top__tittle {
	margin-bottom: 54px;
}

.top__cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 57px;
}

.top__card {
	display: flex;
	flex-direction: column;
}

.top__card-stats {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: rgba(21, 24, 36, 0.6);
	padding: 16px 25px;
	justify-content: flex-end;
}

.top__card-pic {
	position: relative;
	margin-bottom: 45px;
}

.top__card-tittle {
	color: #fff;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	margin: 0 auto 0 0;
}

.top__card-likes {
	color: #fff;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	padding-right: 20px;
	background: url(../images/heart-ico.svg) no-repeat right;
	margin-right: 14px;
}

.top__card-comments {
	color: #fff;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	background: url(../images/cament-ico.svg) no-repeat right;
	padding-right: 23px;
}

.top__card-desc {
	margin-bottom: 31px;
	line-height: 24px;
}

.top__card-more {
	width: 118px;
	padding: 12px 19px;
	background-color: #006DFE;
	color: #fff;
	margin: auto 0 0 0;
}

.top__card-more:hover {
	filter: drop-shadow(0px 0px 17px rgba(0, 0, 0, 0.4));
	transition: 0.5s;
}